/* Global Styles */
body {
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: white;
  position: relative;
  overflow: hidden; /* impede rolagem */
  height: 100vh; /* força altura da tela */
}

/* Logo Styles */
.logo {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 250px;
  height: auto;
}

/* Container with the background image */
.container {
  background: url('https://i.postimg.cc/RVNkr2Xp/Gemini-Generated-Image-z1ns7uz1ns7uz1ns-fotor-2025040620244.png') no-repeat center center/cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Content div for text and button */
.content {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 40px;
  border-radius: 8px;
}

.content h2 {
  margin-bottom: 20px;
}

/* Button Styles */
button {
  background-color: #ff1b7b;
  border: none;
  padding: 10px 20px;
  font-size: 1.2em;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
  border-radius: 5px;
}

button:hover {
  background-color: #1ABC9C;
}

/* Footer Styles */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.4); /* fundo transparente */
  color: #ccc;
  font-size: 0.9em;
}
